.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 20vmin;
  width: 60vmin;
  display: flex;
  pointer-events: none;
  position: relative;
  left: 0px;
  animation: busdrive 8s infinite;
}

@keyframes busdrive {
  from {left: 0vmin;}
  to {left: 70vmax;}
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-header-text {
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

.App-header-text-container {
  background-color: #c3c6c7;
}

.App-body {
  margin: 0px 50px 50px 50px;
}

.App-dropdowns {
  margin-top: 20px;
  margin-bottom: 20px;
}
